*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-right: 30px;
    margin-top: 14px;
}
nav a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: #000000DE;
    cursor: pointer;
    padding: 5px 7px;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
nav .googlemenu{
    width: 34px;
    height: 34;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}
nav button{
    background-size: 32px 32px;
    border: 0;
    font-size: 18px;
    color: #fff;
    background-color: rgb(26, 138, 54);
    border-radius: 50%;
    display: block;
    margin: 7px 15px;
    position: relative;
    height: 32px;
    width: 32px;
    outline: none;
    cursor: pointer;
}
main{
  flex: 1;
  margin: auto;
  text-align: center;
}
main img{
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}
form{
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}
input{
   display: block;
   border: 1px solid #ddd;
   color: #000;
   font-size: 16px;
   padding: 13px;
   padding-left: 55px;
   border-radius: 25px;
   margin-top: 40px;
   width: 100%;
   outline: none;
}
form .search{
   width: 16px;
   opacity: .4;
   position: absolute;
   margin-top: 15px;
   left: 17px;
}
form .mic{
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: -35px;
    right: 24px;
 }
form button{
   border: none;
   padding: 9px 15px;
   color: #666;
   font-size: 14px;
   border-radius: 4px;
   display: inline-block;
   margin-right: 10px;
   margin-top: 28px;
   outline: none;
   cursor: pointer;
}
form button:hover{
    border: 1px solid #aaa;
}
p{
    margin-top: 30px;
    text-align: center;
    font-family: 12px;
    color: #111;   
}
p a{
    text-decoration: none;
    margin-left: 5px;
    color: #1a0dab;
}
p a:hover{
    text-decoration: underline;
}
footer{
   background-color: #f2f2f2;
   bottom: 0;
   position: fixed;
   width: 100%;
}
.footer-top {
   color:rgba(0,0,0,.54);
   font-size: 15px;
   line-height: 39.5px;
   padding-left: 29px;
}
.footer-top h4{
    font-weight: 100;
}
.footer-bottom{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #dadce0 ;
    color: #5f6368;
    cursor: pointer;
}
.footer-bottom a:hover{
    text-decoration: underline;
}
.left a{
    margin-right: 1em;
}
.right a{
    margin-right: 1em;
}

@media screen and (max-width:767px){
    nav{
        margin-right: -250px;
    }
}
@media (min-width:375px) and (max-width:500px){
  main{
      margin-left: 30px;
  }
}

